<h2>Edit the item: {{item.title}}</h2>

<form action="/menu/{{item._id}}/edit" method="POST" enctype="multipart/form-data">
   <label> Title:
      <input type="text" name="title" value="{{item.title}}" required>
   </label>
   <label> Price:
      <input type="number" name="price" value="{{item.price}}" min="0" step="any" required>
   </label>
   <label> Category:
      <select name="category" required>
         <option value="starter">Starter</option>
         <option value="main">Main</option>
         <option value="dessert">Dessert</option>
         <option value="beverages">Beverages</option>
      </select>
   </label>
   <label> Description:
      <textarea name="description" cols="30" rows="4">
        {{item.description}}
      </textarea>
   </label>

   <label> Image:
      <input type="file" name="image_url"/>
   </label>

   {{!-- <label> MenuNumber:
      <input type="number" name="menuNumber" value="{{item.menuNumber}}">
   </label> --}}
   {{#if item.image_url}}
   <p>
   <img class="card-img-details" src="{{item.image_url}}" alt="">
   </p>
   {{/if}}


   <button type="submit">Submit</button>
</form>

