<div class="w-10 h-25 container text-white blur-bg">
  <h2 class="d-inline-block">Edit the product: {{item.title}}</h2>
  <form action="/menu/{{item._id}}/edit" method="POST" enctype="multipart/form-data" class="row g-3">
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">Product Name</label>
      <input type="text" name="title" class="form-control" id="validationCustom01" value="{{item.title}}" required>
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Price</label>
      <input type="number" name="price" value="{{item.price}}" min="0" step="any" class="form-control"
        id="validationCustom02" required>
    </div>
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label">Category</label>
      <div>
        <select class="form-select form-select-sm" name="category" aria-label=".form-select-sm example" required>
          {{#select item.category}}
          <option value="">Select the category</option>
          <option value="starter">Starter</option>
          <option value="main">Main</option>
          <option value="dessert">Dessert</option>
          <option value="beverages">Beverages</option>
          {{/select}}
        </select>
      </div>
    </div>
    <div class="col-md-12">
      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="description"
        rows="3">{{item.description}}</textarea>
    </div>
    <div class="col-md-6">
      <label for="formFileSm" class="form-label">Change product image (optional)</label>
      <input class="form-control form-control-sm" type="file" id="formFileSm" name="image_url"
        accept="image/png, image/jpeg">
    </div>
    <div class="col-md-12">
      <button class="btn btn-success" type="submit">Confirm</button>
    </div>
  </form>
</div>