<h1>Menu</h1>
<h2>Starters:</h2>
{{#if user.isAdmin}}
{{#each startersArr}}
<section>
    <h2>{{this.title}}</h2>
    <p>
        Price: € {{this.price}}<br />
        Category: {{this.category}} <br />
        <a href="/menu/{{this._id}}">More details</a> |

        <a href="/menu/{{this._id}}/edit">Edit</a> |
    <form action="/menu/{{this._id}}/delete" method="POST">
        <button>Delete</button>
    </form>
    </p>
</section>
{{/each}}
{{else}}
{{#each startersArr}}
<section>
    <h2>{{this.title}}</h2>
    <p>
        Price: € {{this.price}}<br />
        Category: {{this.category}} <br />
        <a href="/menu/{{this._id}}">More details</a>

    </p>
</section>
{{/each}}
{{/if}}

<h2>Main Dishes:</h2>
{{#if user.isAdmin}}
{{#each mainsArr}}
<section>
    <h2>{{this.title}}</h2>
    <p>
        Price: € {{this.price}}<br />
        Category: {{this.category}} <br />
        <a href="/menu/{{this._id}}">More details</a> |

        <a href="/menu/{{this._id}}/edit">Edit</a> |
    <form action="/menu/{{this._id}}/delete" method="POST">
        <button>Delete</button>
    </form>
    </p>
</section>
{{/each}}
{{else}}
{{#each mainsArr}}
<section>
    <h2>{{this.title}}</h2>
    <p>
        Price: € {{this.price}}<br />
        Category: {{this.category}} <br />
        <a href="/menu/{{this._id}}">More details</a>

    </p>
</section>
{{/each}}
{{/if}}


<h2>Desserts:</h2>
{{#if user.isAdmin}}
{{#each desertsArr}}
<section>
    <h2>{{this.title}}</h2>
    <p>
        Price: € {{this.price}}<br />
        Category: {{this.category}} <br />
        <a href="/menu/{{this._id}}">More details</a> |

        <a href="/menu/{{this._id}}/edit">Edit</a> |
    <form action="/menu/{{this._id}}/delete" method="POST">
        <button>Delete</button>
    </form>
    </p>
</section>
{{/each}}
{{else}}
{{#each desertsArr}}
<section>
    <h2>{{this.title}}</h2>
    <p>
        Price: € {{this.price}}<br />
        Category: {{this.category}} <br />
        <a href="/menu/{{this._id}}">More details</a>

    </p>
</section>
{{/each}}
{{/if}}








<h2>Drinks:</h2>
{{#if user.isAdmin}}
{{#each drinksArr}}
<section>
    <h2>{{this.title}}</h2>
    <p>
        Price: € {{this.price}}<br />
        Category: {{this.category}} <br />
        <a href="/menu/{{this._id}}">More details</a> |

        <a href="/menu/{{this._id}}/edit">Edit</a> |
    <form action="/menu/{{this._id}}/delete" method="POST">
        <button>Delete</button>
    </form>
    </p>
</section>
{{/each}}
{{else}}
{{#each drinksArr}}
<section>
    <h2>{{this.title}}</h2>
    <p>
        Price: € {{this.price}}<br />
        Category: {{this.category}} <br />
        <a href="/menu/{{this._id}}">More details</a>

    </p>
</section>
{{/each}}
{{/if}}