<h2>Edit the item: {{title}}</h2>

<form action="/menu/{{_id}}/edit" method="POST" enctype="multipart/form-data">
   <label> Title:
      <input type="text" name="title" value="{{title}}" required>
   </label>
   <label> Price:
      <input type="float" name="price" value="{{price}}" required>
   </label>
   <label> Category:
      <select name="category" required>
         <option value="starter">Starter</option>
         <option value="main">Main</option>
         <option value="dessert">Dessert</option>
         <option value="drink">Drink</option>
      </select>
   </label>
   <label> Description:
      <textarea name="description" cols="30" rows="4" required>
        {{description}}
      </textarea>
   </label>
   <label> Image:
      <input type="file" name="image_url" required />
   </label>
   <label> MenuNumber:
      <input type="number" name="menuNumber" value="{{menuNumber}}" required>
   </label>

   <button type="submit">Submit</button>
</form>

<p>
   <img class="card-img-details" src="{{image_url}}" alt="">

</p>