<section>
    <h2>{{item.title}}</h2>
    

    <p>
        <strong>Price: </strong> {{item.price}} <br />
    </p>
    <p>
        <strong>Description:</strong>
        {{item.description}}
    </p>
    <p>
        <strong>Category:</strong>
        {{item.category}}
    </p>
   
    <p>
        <img class="card-img-details" src="{{item.image_url}}" alt="">
        
    </p>

    {{#if user.isAdmin}}
    <p>
        <form action="/menu/{{item._id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </p>
    {{/if}}

</section>



{{#if user.isAdmin}}
<a href="/menu/{{item._id}}/edit">Edit Item</a> | 
{{/if}}
<a href="/menu">Back</a>